common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
common --repo_env=BAZEL_NO_APPLE_CPP_TOOLCHAIN=1
common --enable_platform_specific_config

common --@llvm//config:experimental_stub_libgcc_s
common --@rules_cc//cc/toolchains/args/archiver_flags:use_libtool_on_macos=false
common --nobuild_runfile_links
common --remote_download_toplevel
common --remote_cache=grpcs://remote.buildbuddy.io
common --noexperimental_throttle_remote_action_building
common --remote_cache_compression
common --experimental_remote_downloader=grpcs://remote.buildbuddy.io
common --bes_results_url=https://app.buildbuddy.io/invocation/
common --bes_backend=grpcs://remote.buildbuddy.io

common:linux --host_platform=//platforms:local_gnu
common:windows --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=0
common:windows --host_platform=//platforms:local_windows_msvc

common:release -c opt
common:release --@rules_rust//rust/settings:codegen_units=1
common:release --@rules_rust//rust/settings:lto=fat
common:release --@rules_rust//rust/settings:extra_rustc_flag=-Ccodegen-units=1
common:release --@rules_rust//rust/settings:extra_rustc_flag=-Copt-level=z
common:release --@rules_rust//rust/settings:extra_rustc_flag=-Cstrip=symbols

common:remote --extra_execution_platforms=//:rbe_platform
common:remote --remote_executor=grpcs://remote.buildbuddy.io
